* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.8vh;
}

.emoji {
  width: 2rem;
  height: 2rem;

  > img {
    width: 100%;
    height: 100%;
  }

  &[hover] {
    filter: drop-shadow(0.06rem 0.13rem 0.25rem #222);
  }
}

emojilist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 20vw;
  right: 0;
  background: #eee;
  overflow-y: auto;
  z-index: 0;

  > .emoji {
    z-index: 2;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

space {
  position: fixed;
  height: 100vh;
  width: 80vw;
  left: 0;
  top: 0;
  background: #ddd;
  z-index: 1;
  overflow: visible;
  gap: 1rem;

  > .emoji {
    position: absolute;
    z-index: 3;
  }
}